<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>My Project</title>

<link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>
	<body>
		
		<name class="name">M͟͟͟͞͞͞y͟͟͟͞͞͞ F͟͟͟͞͞͞i͟͟͟͞͞͞r͟͟͟͞͞͞s͟͟͟͞͞͞t͟͟͟͞͞͞ P͟͟͟͞͞͞r͟͟͟͞͞͞o͟͟͟͞͞͞j͟͟͟͞͞͞e͟͟͟͞͞͞c͟͟͟͞͞͞t͟͟͟͞͞͞</name>
		
		<a href="http://127.0.0.1:5000/teach" class="teach">𝙏𝙚𝙖𝙘𝙝</a>

		<a href="http://127.0.0.1:5000/login" class="login_button">login</a>

		<header class="border"></header>

		<a href="http://127.0.0.1:5000/login">
			<img class="login_ico" src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Users-Administrator-2-icon.png">
		</a>
		
		<img class="anime" src="{{ url_for('static', filename='img/anime.png') }}" >
		

		<img class="text_fon" src="{{ url_for('static', filename='img/fon.png') }}" >
		<h2 class="hello">Добрый день это мой первый сайт :) <br>На этом сайте я тестирую <br> Всё что учу </h2>


</body>
</html>

