<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Teach</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>
<body>
		<a class="name" href="http://127.0.0.1:5000/">M͟͟͟͞͞͞y͟͟͟͞͞͞ F͟͟͟͞͞͞i͟͟͟͞͞͞r͟͟͟͞͞͞s͟͟͟͞͞͞t͟͟͟͞͞͞ P͟͟͟͞͞͞r͟͟͟͞͞͞o͟͟͟͞͞͞j͟͟͟͞͞͞e͟͟͟͞͞͞c͟͟͟͞͞͞t͟͟͟͞͞͞</a>
		
		<teach class="teach">𝙏𝙚𝙖𝙘𝙝</teach>

		<a href="http://127.0.0.1:5000/login" class="login_button">login</a>

		<header class="border"></header>

		<a href="http://127.0.0.1:5000/login">
			<img class="login_ico" src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Users-Administrator-2-icon.png">
		</a>
<!-- -------------------------------------------------------------------------------------------------------------------------- -->
		

		

		     
		


			<!-- <pre Тут можно вставлять пробелы они на прямую влиляют на размещение -->
		<pre class="color_red">         Hello <br /> world </pre>
		
		<input class="color_green" type="button" value="Нажать">


	            <!-- span Строчный тип который создаёт свою эко систему -->
		<h2 class="color_red"> <span class="color_red" > Красный </span> Зелёный </h2>
	            
	            <!-- <del/s> Зачёркивает текст -->
		<h4 class="color_red"> <del> Зачерк  <del> </h4>
				<!-- помещает текст под строкой sub \ Над sup -->
		<h2 class="color_red"> Пиздатый <sub> hui </sub> </h2>
	            <!-- src = Можно вставить фотку из интернета по ссылке <img url = ""> -->
		<img src="" alt="Eror">

		<h2 class="color_red">Нумерованные списки</h2>

		<ol class="color_red" style="list-style-type:decimal-leading-zero";> 
			<li>Выучить html</li>
			<li>Выучить css</li>
			<li>Выучить java script</li>
			<li>Выучить поткл к серверу</li>
		</ol>
		<ul class="color_red style" style="list-style-type:square":>
			<li>Выучить html</li>
			<li>Выучить css</li>
			<li>Выучить Java Script</li>
			<li>Выучить поткл к серверу</li>
		</ul>
		<ul class="color_red" style="list-style-image:url();">
			<li>Ввод слева изображения от текста</li>
		</ul>

		<details>
			<summary class="color_red">Хентай</summary>
			<ul>
				<li>⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀<br>⠀⠀⠀⠀
⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀<br>
⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀<br>
⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀<br>
⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀<br>
⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦<br>
⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟<br>
⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇<br>
⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇<br>
⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇<br>
⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀<br>
⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀<br>
⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀<br>
⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠀⠀⠀⠀⠀<br>
⠄⠄⠄⠄⠄⠄⣠⢼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⡄⠄⠄⠄ <br>
⠄⠄⣀⣤⣴⣾⣿⣷⣭⣭⣭⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⡀⠄⠄<br>
⠄⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣸⣿⣿⣧⠄⠄<br>
⠄⣿⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⢻⣿⣿⡄⠄<br>
⠄⢸⣿⣮⣿⣿⣿⣿⣿⣿⣿⡟⢹⣿⣿⣿⡟⢛⢻⣷⢻⣿⣧⠄<br>
⠄⠄⣿⡏⣿⡟⡛⢻⣿⣿⣿⣿⠸⣿⣿⣿⣷⣬⣼⣿⢸⣿⣿⠄<br>
⠄⠄⣿⣧⢿⣧⣥⣾⣿⣿⣿⡟⣴⣝⠿⣿⣿⣿⠿⣫⣾⣿⣿⡆<br>
⠄⠄⢸⣿⣮⡻⠿⣿⠿⣟⣫⣾⣿⣿⣿⣷⣶⣾⣿⡏⣿⣿⣿⡇<br>
⠄⠄⢸⣿⣿⣿⡇⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣇⣿⣿⣿⡇<br>
⠄⠄⢸⣿⣿⣿⡇⠄⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢸⣿⣿⣿⠄<br>
⠄⠄⣼⣿⣿⣿⢃⣾⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⡏⣿⣿⣿⡇⠄<br>
⠄⠄⠸⣿⣿⢣⢶⣟⣿⣖⣿⣷⣻⣮⡿⣽⣿⣻⣖⣶⣤⣭⡉⠄⠄⠄⠄⠄<br>
⠄⠄⠄⢹⠣⣛⣣⣭⣭⣭⣁⡛⠻⢽⣿⣿⣿⣿⢻⣿⣿⣿⣽⡧⡄⠄⠄⠄<br>
⠄⠄⠄⠄⣼⣿⣿⣿⣿⣿⣿⣿⣿⣶⣌⡛⢿⣽⢘⣿⣷⣿⡻⠏⣛⣀⠄⠄<br>
⠄⠄⠄⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⠙⡅⣿⠚⣡⣴⣿⣿⣿⡆⠄<br>
⠄⠄⣰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⠄⣱⣾⣿⣿⣿⣿⣿⣿⠄<br>
⠄⢀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢸⣿⣿⣿⣿⣿⣿⣿⣿⠄<br>
⠄⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠣⣿⣿⣿⣿⣿⣿⣿⣿⣿⠄<br>
⠄⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠛⠑⣿⣮⣝⣛⠿⠿⣿⣿⣿⣿⠄<br>
⢠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⠄⠄⠄⠄⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠄<br>
⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠄⠄⠄⠄⢹⣿⣿⣿⣿⣿⣿⣿⣿⠁⠄<br>
⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠏⠄⠄⠄⠄⠄⠸⣿⣿⣿⣿⣿⡿⢟⣣⣀</li>
			</li>
		</details>
		<dl> <!-- dl Создаёт список определений | dt оглавление | dd Описание  -->
			<dt class="color_red">Black 010101010101001</dt>
			<dd class="color_red">Nigga</dd>
		</dl>
<!-- -----------------------------------Таблицы--------------------------------------------------- -->
		<h3>Рынок шаурмы<h3>
		<thead>
			<table>
				<tr>
					<td class="color_red">Цена</td> <td class="color_red">Предмет</td>
				</tr>
				<tr>
					<td class="color_red">10rub</td> <td class="color_red">Shaurma</td>
				</tr>	
			</table>
		</thead>
<!-- --------------------------------------------------------------------------------------------- -->
	
	<table>
		<tr>
			<td class="setting back_blue" colspan="1"> 1 <br> 2 <br> 3 </td>
		</tr>	
	</table>
	<a class="style" href="https://2ip.ru/" target="_blank">2ip|Chek ip</a>
	
	<a href="http://127.0.0.1:5000/login"> <a>
		<figure> <!-- figcaption Описание илюстрации/фотки -->
				<figcaption class="color_red">Аниме тяночка</figcaption>

				

				<img class="anime" src="{{ url_for('static', filename='img/anime.png') }}" />

		</figure>
	

	<!-- Элемент iframe Может встраивать страницы с других сайтов -->
	<h2>Element iframe</h2>
	<iframe src="https://ru.wikipedia.org/wiki/JavaScript" width="600" height="500"></iframe>



	<input list="mobile" type="text" name="фильтр" placeholder="Выберите фильтр" >
	<input type="submit" value="Поиск">

	<datalist id="mobile">
		<option value="Huawei P Smart Z" />
		<option value="Redmi 9T"></option>
		<option value="Samsung"></option>
		
	</datalist>

</body>
</html>